{% extends "bibliothecaires/base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <main class="h-75 d-flex flex-column align-items-center justify-content-center">
        <h1 class="pb-2">Bonjour, {{ user.username }} !</h1>
        <p>Que voulez-vous faire ?</p>
        <ul>
            <li><a href="{% url 'medias_bibliothecaires' %}" class="text-decoration-none text-dark">Gérer les médias</a></li>
            <li><a href="#" class="text-decoration-none text-dark">Gérer les membres</a></li>
            <li><a href="#" class="text-decoration-none text-dark">Gérer les emprunts</a></li>
        </ul>
    </main>
{% endblock %}