{% extends "bibliothecaires/base.html" %}
{% block title %}Ajouter un membre{% endblock %}
{% block content %}
    <main class="h-75 d-flex flex-column align-items-center justify-content-center mx-5">
        <h1 class="mb-3">Ajouter un membre</h1>

        <form method="post" class="d-flex flex-column">
            {% csrf_token %}
            <label for="nom">Nom du membre :</label>
            <input type="text" name="nom" id="nom" required>
            <button type="submit" class="btn btn-dark mt-3">Ajouter</button>
        </form>
    </main>
{% endblock %}