{% extends "bibliothecaires/base.html" %}
{% block title %}Ajouter un livre{% endblock %}
{% block content %}
    <main class="h-75 d-flex flex-column align-items-center justify-content-center mx-5">
        <h2 class="mb-3">Ajouter un livre</h2>

        <form method="post" class="d-flex flex-column">
            {% csrf_token %}
            <label for="titre">Titre :</label>
            <input type="text" name="titre" required>

            <label for="auteur">Auteur :</label>
            <input type="text" name="auteur" required>

            <button type="submit" class="btn btn-dark mt-3">Ajouter</button>
        </form>
    </main>
{% endblock %}