{% extends "membres/base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <main class="h-75 d-flex flex-column align-items-center justify-content-center">
        <h1 class="pb-2">Bonjour, {{ user.username }} !</h1>
        <p>Que voulez-vous faire ?</p>
        <ul>
            <li><a href="{% url 'medias_membres' %}" class="text-decoration-none text-dark">Voir les médias</a></li>
            <li><a href="#" class="text-decoration-none text-dark">Voir vos emprunts</a></li>
        </ul>
    </main>
{% endblock %}